@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-primary: #1e2022;
  --color-secondary: #c9d6df;
  --color-tertiary: #f0f5f9;
  --color-accent: #53585e;
  --color-dark-accent: #394149;
  --title-font-family: "Montserrat", sans-serif;
  --content-font-family: "Inter", sans-serif;
  --border-radius: 0.9375rem;
  --urgent-yellow: #fde047;
  --in-progress-blue: #0ea5e9;
  --archived-gray: #6b7280;
  --completed-green: #22c55e;
}

.container {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 100px 1fr;
  min-height: 100vh;
}

.divide-line {
  height: 1px;
  width: 100%;
  background-color: var(--color-accent);
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-primary);
  grid-column: 1;
  grid-row: 1 / -1;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.profile-picture {
  background-image: url("assets/profile.png");
  background-size: cover;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
}

.tools-container .profile-picture {
  height: 64px;
}

.profile-picture.large {
  height: max(130px, min(200px, 20vh));
}

.links {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  position: sticky;
}

.links li a {
  display: flex;
  align-items: center;
  font-family: var(--content-font-family);
  text-decoration: none;
  color: white;
  font-weight: 900;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 0 1.5rem 1.5rem 0;
  border-left: 4px solid transparent;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

.links li a:hover {
  background-color: var(--color-accent);
  border-left: 4px solid white;
}

.icon {
  filter: invert(100%);
  cursor: pointer;
}

.links .icon {
  height: 2rem;
  margin-right: 5%;
}

.title-container {
  margin-top: 2rem;
  font-family: var(--title-font-family);
  color: white;
}

.title-container h1 {
  font-size: 2rem;
  font-weight: 900;
}

.greet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--title-font-family);
  color: white;
  gap: 0.5rem;
}

.greet-container p {
  font-size: 1.3rem;
  font-weight: 600;
}

.greet-container .username {
  font-weight: 800;
  font-size: 2rem;
}

header {
  grid-column: 2;
  background-color: var(--color-tertiary);
  box-shadow: 0 4px 4px 0 #a9bbc9;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 150px 1fr;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  position: relative;
}

#search {
  background-color: var(--color-tertiary);
  border-radius: var(--border-radius);
  border: 2px solid var(--color-accent);
  padding: 0.5rem 1rem;
  font-family: var(--content-font-family);
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-accent);
  width: max(200px, 20vw);
}

.search-container label {
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
  font-family: var(--content-font-family);
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-accent);
  position: absolute;
  padding: 0 0.5rem;
  transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

.search-container input:focus + label,
.search-container input:not(:placeholder-shown) + label {
  background-color: var(--color-tertiary);
  font-size: 0.8rem;
  top: 10%;
}

#search:focus {
  outline: none;
}

.search-container {
  grid-column: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
}

.search-container .search-btn {
  padding: 0.8rem;
  border-radius: 100%;
}

.tools-container {
  justify-self: self-end;
  grid-column: 3;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tools-container .new-btn {
  font-family: var(--content-font-family);
  padding: 1rem 2rem;
  color: white;
  border-radius: var(--border-radius);
}

.tools-container button:not(:first-of-type) {
  padding: 0.8rem;
  border-radius: 100%;
  aspect-ratio: 1 / 1;
}

header button {
  all: unset;
  cursor: pointer;
  background-color: var(--color-accent);
  display: flex;
  justify-content: center;
  align-items: center;
}

header button:hover {
  background-color: var(--color-dark-accent);
}

main {
  position: relative;
  grid-row: 2;
  grid-column: 2;
  background-color: var(--color-secondary);
  display: grid;
  grid-template-columns: 1fr 25%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 300px;
  gap: 0 2rem;
  padding: 2rem;
}

.card-container::before {
  content: "Your Projects";
  position: absolute;
  top: 2rem;
  font-family: var(--title-font-family);
  font-weight: 700;
  color: var(--color-accent);
  font-size: 1.2rem;
}

.card {
  margin-top: 2rem;
  background-color: white;
  border-radius: var(--border-radius);
  padding: 2rem;
  box-shadow: 0 4px 4px 0 #a9bbc9;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card.important {
  border-left: 0.8rem solid var(--urgent-yellow);
}

.card.in-progress {
  border-left: 0.8rem solid var(--in-progress-blue);
}

.card.archived {
  border-left: 0.8rem solid var(--archived-gray);
}

.card.completed {
  border-left: 0.8rem solid var(--completed-green);
}

.card.important .card-title::after {
  content: " (Important)";
  font-size: 0.8rem;
  font-style: italic;
  color: var(--color-accent);
}

.card.in-progress .card-title::after {
  content: " (On-going)";
  font-size: 0.8rem;
  font-style: italic;
  color: var(--color-accent);
}

.card.completed .card-title::after {
  content: " (Completed)";
  font-size: 0.8rem;
  font-style: italic;
  color: var(--color-accent);
}

.card.archived .card-title::after {
  content: " (Archived)";
  font-size: 0.8rem;
  font-style: italic;
  color: var(--color-accent);
}

.card .card-title {
  color: black;
  font-family: var(--title-font-family);
  font-weight: 700;
  font-size: 1.2rem;
}

.card .card-body {
  font-family: var(--content-font-family);
  color: var(--color-accent);
  font-weight: 500;
  font-size: 1rem;
  flex: 1;
}

.card-interactions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.card .icon {
  filter: invert(33%) sepia(5%) saturate(780%) hue-rotate(173deg)
    brightness(95%) contrast(84%);
}

.information-container {
  --padding: 2rem;
  position: relative;
  padding: var(--padding);
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
}

.information-container .announcement {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.information-container .announcement::before {
  content: "Announcement";
  position: absolute;
  top: 2rem;
  left: var(--padding);
  font-family: var(--title-font-family);
  font-weight: 700;
  color: var(--color-accent);
  font-size: 1.2rem;
}

.information-container .card:not(:last-child) {
  margin-bottom: 2rem;
}

.announcement .card-title {
  font-size: 1rem;
}

.announcement .card-body {
  font-size: 0.8rem;
}

.announcement .subcard {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.information-container .announcement::before {
  content: "Announcement";
  position: absolute;
  left: 2rem;
  top: 2rem;
  font-family: var(--title-font-family);
  font-weight: 700;
  color: var(--color-accent);
  font-size: 1.2rem;
}

.information-container .random-fact-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.random-fact.card {
  flex: 1;
  font-family: var(--content-font-family);
}

.information-container .random-fact::before {
  content: "Random fact";
  position: absolute;
  left: 0;
  top: 0;
  font-family: var(--title-font-family);
  font-weight: 700;
  color: var(--color-accent);
  font-size: 1.2rem;
}

.random-fact img {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}
