@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-primary: #1e2022;
  --color-secondary: #c9d6df;
  --color-tertiary: #f0f5f9;
  --color-accent: #53585e;
  --color-dark-accent: #394149;
  --title-font-family: "Montserrat", sans-serif;
  --content-font-family: "Inter", sans-serif;
  --border-radius: 0.9375rem;
}

.container {
  display: grid;
  grid-template-columns: max(260px, 18%) 1fr;
  grid-template-rows: 100px 1fr;
  min-height: 100vh;
  width: 100vw;
}

.divide-line {
  height: 0.1rem;
  width: 100%;
  background-color: var(--color-accent);
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background: var(--color-primary);
  grid-column: 1;
  grid-row: 1 / -1;
  gap: 2rem;
}

.profile-picture {
  background-image: url("assets/profile.png");
  background-size: cover;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  height: 64px;
}

.profile-picture.large {
  height: max(130px, 20vh);
}

.links {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.links li a {
  display: flex;
  align-items: center;
  font-family: var(--content-font-family);
  text-decoration: none;
  color: white;
  font-weight: 900;
  font-size: clamp(1.25rem, 0.4787rem + 0.8511vw, 1.5rem);
  padding: 1rem;
  border-radius: 0 1.5rem 1.5rem 0;
  border-left: 4px solid transparent;
  transition:
    background 0.2s ease-in-out,
    border 0.2s ease-in-out;
}

.links li a:hover {
  background-color: var(--color-accent);
  border-left: 4px solid white;
}

.icon {
  filter: invert(100%);
}

.links .icon {
  height: 2rem;
  margin-right: 5%;
}

.title-container {
  font-family: var(--title-font-family);
  color: white;
}

.title-container h1 {
  font-size: 2rem;
  font-weight: 900;
}

.greet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--title-font-family);
  color: white;
  gap: 0.5rem;
}

.greet-container p {
  font-size: clamp(1rem, 0.0745rem + 1.0213vw, 1.3rem);
  font-weight: 600;
}

.greet-container .username {
  font-weight: 800;
  font-size: clamp(1.5rem, -0.0426rem + 1.7021vw, 2rem);
}

header {
  grid-column: 2;
  background-color: var(--color-tertiary);
  box-shadow: 0 4px 4px 0 #a9bbc9;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 150px 1fr;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  position: relative;
}

#search {
  background-color: var(--color-tertiary);
  border-radius: var(--border-radius);
  border: 2px solid var(--color-accent);
  padding: 0.5rem 1rem;
  font-family: var(--content-font-family);
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-accent);
  width: max(200px, 20vw);
}

.search-container label {
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
  font-family: var(--content-font-family);
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-accent);
  position: absolute;
  padding: 0 0.5rem;
  transition:
    top 0.2s ease-in-out,
    font-size 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

.search-container input:focus + label,
.search-container input:not(:placeholder-shown) + label {
  background-color: var(--color-tertiary);
  font-size: 0.8rem;
  top: 10%;
}

#search:focus {
  outline: none;
}

.search-container {
  grid-column: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
}

.search-container .search-btn {
  padding: 0.8rem;
  border-radius: 100%;
}

.tools-container {
  justify-self: self-end;
  grid-column: 3;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tools-container .new-btn {
  font-family: var(--content-font-family);
  padding: 1rem 2rem;
  color: white;
  border-radius: var(--border-radius);
}

.tools-container button:not(:first-of-type) {
  padding: 0.8rem;
  border-radius: 100%;
  aspect-ratio: 1 / 1;
}

header button {
  all: unset;
  cursor: pointer;
  background-color: var(--color-accent);
  display: flex;
  justify-content: center;
  align-items: center;
}

header button:hover {
  background-color: var(--color-dark-accent);
}

main {
  grid-row: 2;
  grid-column: 2;
  background-color: var(--color-secondary);
  display: grid;
  grid-template-rows: 10% 1fr;
}
